@import "compass_twitter_bootstrap";
@import "compass/css3/opacity";
body{
    background:url('../images/bg2.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.container{
    background-color:white;
    @include opacity(0.9);
}
.center {   display: block;   margin-left: auto;   margin-right: auto;   text-align: center; }