<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title></title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="styles/main.css"/>

    </head>
    <body>
        <div class="container">
            <!--<div class="hero-unit">
                <p>You now have</p>
                <ul>
                    <li>HTML5 Boilerplate, jQuery, Backbone.js, Lodash, Mocha</li>
                </ul>
            </div> -->
            
        </div>
        
        <div class="container">
                <div class="row-fluid">
                    <div class="span7">
                        <h1>
                            <a href="/" class="unstyledlink">
                                <img src="/images/transparent4.png" width="100%"> 
                            </a>
                        </h1> 
                    </div>
                    <div class="span5">
                        <br>
                        <div class="hero-unit center" style="background-color: white; padding:10px;">
                            <h1>Share a meal.</h1><hr>
                            <a href="#" class="btn btn-primary btn-large"> How does it work ?</a>
                        </div>
                    </div>
                    
                </div>
                
                <div class="hero-unit center" style="background-color: white; padding:20px;">
                    <h2>This should be short description of the site.</h2><hr>
                    <p>It isn't but it should be, I have talked to the person in charge and they assure me that you soon won't be able to read this message. Sound too good to be true? Perhaps it is, perhaps it isn't, I guess we should wait and see!</p>
                </div>
                
                <div class="row-fluid">

                  <div class="span4">
                    <div class="well">
                      <h2>Login</h2>
                      <form class="login" method="POST" action="/accounts/login/">
                          <p><input id="id_login" type="text" placeholder="Username" name="login" maxlength="30" /></p>
                          <p><input type="password" placeholder="Password" name="password" id="id_password" /></p>
                          <p><label for="id_remember">Remember Me:</label><input type="checkbox" name="remember" id="id_remember" /></p>
                          
                          <a class="button secondaryAction" href="/accounts/password/reset/">
                              Forgot Password?
                          </a><br>
                          <p><br><button class="primaryAction" type="submit">Sign In</button></p>
                      </form>
                    </div>
                  </div>
                
                  <div class="span4">
                    <div class="well">
                      <h2>Login via</h2>
                      <ul class="socialaccount_providers"> 
                        <div class="row-fluid">  
                          <div class="span4">
                            <a title="Twitter" class="socialaccount_provider twitter" 
                               href="/accounts/twitter/login/?next=/meal/invite/{{object.secret}}"><img src="/images/fc-webicon-twitter.svg" height="50px" width="50px"> <h5> Twitter </h5></a>
                          </div>
                
                          <div class="span4">
                            <a title="Google" class="socialaccount_provider google" 
                               href="/accounts/google/login/?next=/meal/invite/{{object.secret}}"><img src="/images/fc-webicon-googleplus.svg" height="50px" width="50px"><h5> Google </h5></a>
                          </div>
                
                          <div class="span4">
                            <a title="Facebook" class="socialaccount_provider facebook" 
                               href="/accounts/facebook/login/?next=/meal/invite/{{object.secret}}"><img src="/images/fc-webicon-facebook.svg" height="50px" width="50px"><h5> Facebook </h5></a>
                          <div>
                        </div>
                      </ul>
                      <h4> Is it that easy? Find out. </h4>
                    </div>
                  </div>
                
                  <div class="span4">
                    <div class="well">
                      <h2>Register</h2>
                      <form class="signup" id="signup_form" method="post" action="/accounts/signup/">
                          <p> <input id="id_username" placeholder="Username" type="text" name="username" maxlength="30" /></p>
                          <p> <input type="password" placeholder="Password" name="password1" id="id_password1" /></p>
                          <p> <input type="password" placeholder="Enter password again" name="password2" id="id_password2" /></p>
                          <p> <input type="text" placeholder="Email" name="email" id="id_email" /><input type="hidden" name="confirmation_key" id="id_confirmation_key" /></p>
                          <button type="submit">Sign Up &raquo;</button>
                      </form>
                    </div>
                  </div>
                
                </div>
                
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#">Upcoming Meals</a>
                    </li>
                    <li>
                        <a href="#">Find a Meal</a>
                    </li>
                    <li class="">
                        <a href="#">Host a Meal</a>
                    </li>
                    
                    <li class="dropdown pull-right">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Chris Franklin
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Manage Friends</a>
                            </li>
                            <li>
                                <a href="#">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            <div class="row">
                <div class="span4">
                    <div id="sidebar"></div>
                </div>
                <div class="span8">
                    <div id="content">
                        <p> No content? Maybe an error has occured. </p>
                    </div>
                </div>
            </div>
            <hr>
            <p>Brought to you by <a href="http://piemonster.me"> Piemonster</a></p>
        </div>

        <!-- Templates -->
        <script type="text/template" id="tpl-meal-list-item">
            <a href='#meals/<%= id %>'><img src="<%= small_image %>"> <%= name %></a> 
        </script>

        <script type="text/template" id="tpl-meal-details">
            <h2> <%= name %> <small> hosted by <%= host_username %> </small> </h2>
            <h3> <%= when2 = moment(when, "YYYYMMDD").format('LLLL') %> <small> <%= when = moment(when, "YYYYMMDD").fromNow() %> </small></h3>
            
            <div class="row-fluid">
                <div class="span3">
                    <img src="<%= image %>">

                    <label>Guests:</label>
                    <div class="input-prepend">
                        <span class="add-on">
                            <i class="icon-group"></i>
                        </span>
                        <input type="text" id="current_guests" name="current_guests" value="<%= guests %>" required/>
                    </div>
                    
                    <label>Recipe:</label>
                    <div class="input-prepend">
                        <span class="add-on">
                            <i class="icon-food"></i>
                        </span>
                        <input type="text" id="recipe" name="recipe" value="<%= recipe %>" required/>
                    </div>
                    <label>Parts:</label>
                    <div class="input-prepend">
                        <span class="add-on">
                            <i class="icon-food"></i>
                        </span>
                        <input type="text" id="parts" name="parts" value="<%= parts %>" required/>
                    </div>
                    
                </div>
                <div class="span9">
                    <p> <%= description %> </p>
                    <b> <%= current_guests %> out of a maximum <%= max_guests %> guests are attending.</b>
                </div>
            </div>
        </script>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <!-- build:js scripts/scripts.js -->
        <script src="scripts/vendor/jquery.min.js"></script>
        <script src="scripts/vendor/lodash.min.js"></script>
        <script src="scripts/vendor/backbone-min.js"></script>
        <script src="scripts/vendor/backbone-relational.js"></script>
        <script src="scripts/main.js"></script>
        <script src="scripts/views/meal-view.js"></script>
        <script src="scripts/models/meal-model.js"></script>
        <script src="scripts/collections/meal-collection.js"></script>
        <script src="scripts/routes/meal-router.js"></script>
        <script src="scripts/vendor/moment.min.js"></script>
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
